POSTGRES_DB=amnezia_panel_dotnet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

PANEL_DATABASE_CONNECTION=Host=postgres;Port=5432;Database=amnezia_panel_dotnet;Username=postgres;Password=change-me
AGENT_BASE_URL=http://host.docker.internal:9180/
AGENT_API_KEY=
